{% extends "base_default.html" %}

{% block title %}
    Docs — {{ page.title }}
{% endblock title %}

{% block header %}
    <h1>Keyoxide docs</h1>
{% endblock header %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.content | safe }}
{% endblock content %}